{
  "presets": [
    ["@babel/preset-env",
    {
      "targets": {
        "node": 6,
        "chrome": 49,
        "firefox": 53,
        "safari": 10,
        "edge": 18,
        "opera": 36
      }
    }]
  ],
   "plugins": ["@babel/plugin-proposal-class-properties"]
}
